*__pycache__
*env
# translations/AS21
# translations/KJA
# translations/ARA
# translations/KJF
# translations/NAA
# translations/TB
# translations/NVT
# translations/NTLH
# translations/NVI
# translations/JFAA
# translations/ACF
# translations/ARC
# translations/NBV